APP_NAME="Pascasarjana STP AMPTA"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/website_pascasarjana_ampta/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=pascasarjana_ampta
DB_USERNAME=root
DB_PASSWORD=
